.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* * {
  box-sizing: border-box;
} */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

div.map-container > div {
  width: 50%;
  height: 50vh;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  gap: 10px;
  width: 80%; 
  margin-top: 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
    display: "flex";
    flex: 1;
    justifyContent: "center";
    alignItems: "center";
}
.heading {
    color: "green";
    textAlign: "center";
}
.radioGroup {
    display: "flex";
    flexDirection: "row";
    alignItems: "center";
    justifyContent:
        "space-around";
    marginTop: "20px";
    borderRadius: "8px";
    backgroundColor: "white";
    padding: "30px";
    boxShadow:
        "0px 2px 3.84px rgba(0 0 0 0.25)";
}
.radioButton {
    display: "flex";
    flexDirection: "row";
    alignItems: "center";
}
.radioLabel {
    marginLeft: "8px";
    fontSize: "17px";
    color: "#333";
}
.nospace {
    margin-top: "0px";
    margin-bottom: "0px";
    padding-top: "0px";
    padding-bottom: "0px";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  text-indent: 0;
}

.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}